@import url(https://fonts.googleapis.com/css?family=Droid+Serif:400,400italic|Montserrat:400,700);
$fontSans : 'Montserrat', sans-serif;
$fontSerif : 'Droid Serif', serif;


@mixin transition($transition-property, $transition-time, $method) {
    -webkit-transition: $transition-property $transition-time $method;
    -moz-transition: $transition-property $transition-time $method;
    -ms-transition: $transition-property $transition-time $method;
    -o-transition: $transition-property $transition-time $method;
    transition: $transition-property $transition-time $method;
}
html {
  scroll-behavior: smooth
}
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
	font-family: Roboto,sans-serif;
	color:#443f37;

}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.Shell {

    padding: 0 10px;
	@media(min-width:768px){
		padding: 0 20px;
		
	}
	@media(min-width:1024px){
		padding:0 100px;
		margin:0 auto;
	}
	@media(min-width: 1440px){
		max-width: 1280px;
	}
	@media(min-width:1920px){
		min-width: 1440px;
	}
}

.BrainhubCarousel__arrows {
	background-color: transparent!important;

	span {
		border-color: #443f37!important;
	}
}








body {
  color: #333;
  -webkit-font-smoothing: antialiased;
  font-family: $fontSerif;
 
}
 img {
   max-width:100%;
 }
.cf:before,.cf:after {content: " ";display: table;}
.cf:after {clear: both;}
.cf {*zoom: 1;}


.wrap {
	box-shadow: 3px 3px 10px rgb(0 0 0 / 16%);
    border-radius: 10px;
  width: 100%;
  margin: 0 auto;
  padding: 5% 20px;
  box-sizing: border-box;
  
}

.projTitle {
   font-family: $fontSans;
    font-weight: bold;
  text-align: center;
  font-size: 2em;
  padding: 1em 0;
  border-bottom: 1px solid #dadada;
  letter-spacing: 3px;
  text-transform: uppercase;
  span {
    font-family: $fontSerif;
    font-weight: normal;
    font-style: italic;
     text-transform: lowercase;
    color: #777;
    
  }
}
// CART HEADER
.heading {
  padding: 1em 0;
  border-bottom: 1px solid #D0D0D0;
 
  h1 {
   font-family: $fontSerif;
   font-size: 2em;
   float: left;
  }
  a.continue {
    &:link , &:visited {
      text-decoration: none;
      font-family: $fontSans;
      letter-spacing: -.015em;
      font-size: .75em;
      padding: 1em;
      color: #fff;
      background: #fea712;
      font-weight: bold;
      border-radius: 50px;
    float: right;
      text-align: right;
       @include transition(all, .25s, linear);
    }
    &:after {
      content: "\276f";
      padding: .5em;
      position: relative;
      right:0;
       @include transition(all, .15s, linear);
      
    }
    &:hover , &:focus, &:active {
      background: #cb850e ;
      
      &:after {
        right: -10px;
      }
    }
  }
}

// TABLE HEADING 

.tableHead {
  display: table;
  width: 100%;
  font-family: $fontSans;
  font-size: .75em;
  li {
    display: table-cell;
    padding: 1em 0;
    text-align: center;
    &.prodHeader {
      text-align: left;
    }
  }
}

// CART Items

.cart {
  padding: 1em 0 ;
 
  .items {
	  box-sizing: border-box;
    display: block;
    width: 100%;
 vertical-align: middle;
    padding: 1.5em;
   
    border-bottom: 1px solid #fafafa;
    &.even {
      background: #fafafa;
    }
    .infoWrap {
      display: table;
      width: 100%;
    }
    .cartSection {
      display: table-cell;
 
      vertical-align: middle;
      
      
      .itemNumber {
  font-size: .75em;
        color: #777;
        margin-bottom: .5em;
}
      
      h3 {
   
        font-size: 1em;
      font-family: $fontSans;
        font-weight: bold;
        text-transform: uppercase;
        letter-spacing: .025em;
        
         
      }
      p {
        display: inline-block;
        font-size: .85em;
        
        color: #777777;
        font-family: $fontSans;
            .quantity {
        font-weight: bold;
              color: #333;
      }
        
        &.stockStatus {
          color: #fea712;
          font-weight: bold;
          padding: .5em 0 0 1em;
          text-transform: uppercase;
          &.out {
            color: #cb850e ;
          }
        }
        
      }
      .itemImg {
        width: 4em;
       
        float: left;
      }
      &.qtyWrap , &.prodTotal {
        text-align: center;
    p {
      font-weight: bold;
      font-size: 1.25em;
    }
       
      }
      
    input.qty {
        width: 2em;
        text-align: center;
        font-size: 1em;
          padding: .25em;
      margin: 1em .5em 0 0;
        
      }
      .itemImg {
        width: 8em;
        display: inline;
        padding-right: 1em;
      }
       
 
    }
  }
  
}   
 
 .special {
   display: block;
   font-family: $fontSans;
  .specialContent {
   padding: 1em 1em 0;
    display: block; 
   margin-top:.5em;
   border-top: 1px solid #dadada;
   &:before {
     content: "\21b3";
     font-size: 1.5em;
      margin-right: 1em;
     color: #6f6f6f;
     font-family: helvetica, arial, sans-serif;
   }}
 
 }

button.remove {
  cursor: pointer;
  border:none;
  text-decoration: none;
  font-family: $fontSans;
  text-align: center;
  color: #ffffff;
  font-weight: bold;
  background: #e0e0e0;
  width: 20px;
  height: 20px;
  padding: 3px 0;
  box-sizing: border-box;
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  line-height: .85;
   @include transition(all, .25s, linear);
  &:hover {
    background: #f30;
  }
}

.promoCode {
	box-sizing: border-box;
  border:2px solid #efefef;
  float: left;
  width: 35%;
  padding: 2%;
  label {
    display: block;
    width: 100%;
 font-style: italic;
    font-size: 1.15em;
 
    margin-bottom: .5em;
    letter-spacing: -.025em;
    
  }
  input {
    width: 85%;
    font-size: 1em;
    padding: .5em;
    float: left;
    border: 1px solid #dadada;
    &:active, &:focus {
      outline: 0;
     
    }
  }
  a.btn {
    float: left;
    width: 15%;
    padding: .75em 0;
    border-radius: 0 1em 1em 0;
    text-align: center;
    border: 1px solid #fea712;
    &:hover {
       border: 1px solid #cb850e ;
       background: #cb850e ;
    }
  }
}

.btn {
     &:link , &:visited {
      text-decoration: none;
      font-family: $fontSans;
      letter-spacing: -.015em;
      font-size: 1em;
      padding: 1em 3em;
      color: #fff;
      background: #fea712;
      font-weight: bold;
      border-radius: 50px;
    float: right;
      text-align: right;
       @include transition(all, .25s, linear);
    }
      &:after {
      content: "\276f";
      padding: .5em;
      position: relative;
      right:0;
       @include transition(all, .15s, linear);
      
    }
    &:hover , &:focus, &:active {
      background: #cb850e ;
        &:after {
        right: -10px;
      }
    }
  
  .promoCode & {
    font-size: .85em;
    padding: .5em 2em;
  }
}

/* TOTAL AND CHECKOUT  */
.subtotal {
float: right;
 width: 35%;
  .totalRow {
    padding: .5em;
   text-align: right;
  
    &.final {
      font-size: 1.25em;
      font-weight: bold;
    }
    span {
      display: inline-block;
      padding: 0 0 0 1em;
      text-align: right;
     
    }
    .label {
       font-family: $fontSans;
      font-size: .85em;
      text-transform: uppercase;
      color: #777;
    }
    .value {
 
      letter-spacing: -.025em;
      width: 35%;
    }
  }
}

@media only screen and (max-width:39.375em){

.wrap {
  width: 98%;
  padding: 2% 0;
}
.projTitle{
  font-size: 1.5em;
  padding: 10% 5%;
}
.heading {
  padding: 1em;
  font-size: 90%;
}
.cart {
  .items {

  .cartSection {
    width: 90%;
      display: block;float: left;
     &.qtyWrap {
       width: 10%;
      text-align: center;
       padding: .5em 0;
       float: right;
       &:before {
         content: "QTY";
         display: block;
         font-family: $fontSans;
         padding: .25em;
         font-size: .75em;
       }
     }
     &.prodTotal , &.removeWrap { 
       display: none;
     }
    .itemImg {
      width: 25%;
    }
  }
  }}
.promoCode , .subtotal{
  width: 100%;
}

button.btn.continue {
width: 100%;
text-align: center;
}
}

.Pagination {
  flex-wrap: wrap;
  margin:0 auto;
  display: flex;
  li {
  }
  li a {
    padding: 8px;
  }
  .selected {
    a {
    color:#fff;
    background-color: #fea712;
    border-radius: 6px;

    }
  }
}