.Recipe {
    width: 96%;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 30px;
  
}

.Recipe_image {
    img {
        width: 100%;
    }
}
.Product_text {
    padding: 10px 10px;
    border: 1px #e5e5e5 solid;
    border-top: none;
    h1 {
        cursor: pointer;
        margin-bottom: 10px;
        text-overflow: ellipsis; 
        overflow: hidden; 
        white-space: nowrap;
        line-clamp: 1;
    }
    h1:hover {
        text-decoration: underline;

    }
}
.Product_text p {
    
    color: #666
}